html,
body {
    height: 100%;
    margin: 0;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #041f1e;
}

.container {
    display: flex;
    width: 95%;
    height: 80%;
    border-radius: 10px;
}
