.text {
    color: #041f1e;
    font-size: 25px;
}

.textTask {
    color: #041f1e;
    font-size: 23px;
    flex-grow: 1;
    margin-left: 15px;
    overflow: hidden;
}

.alert {
    margin: auto;
    width: 50%;
}

.content {
    background-color: #f7dba7;
    height: 100%;
    border-radius: 10px 0 0 10px;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.deleteBut {
    margin: 10px;
    font-size: 25px;
    color: red;
    margin-left: 10px;
    margin-right: 15px;
}

.deleteBut:hover {
    cursor: pointer;
    color: black;
}

.completeBut {
    margin: 10px;
    font-size: 25px;
    color: green;
}

.completeBut:hover {
    cursor: pointer;
    color: black;
}

.listWrapper {
    overflow-y: auto;
    margin-left: 5px;
    margin-top: 35px;
}

.listItem {
    display: flex;
    height: 80px;
    align-items: center;
    margin-bottom: 10px;
    border-bottom: 1px solid #f1ab86;
    padding: 10px 0;
}

.button {
    background-color: #1e2d2f;
    color: #f7dba7;
}
